<div class="c-animation  js-animation">
    <div class="c-animation__frame" id="frame-1">
        <img class="c-animation__img  js-img" src="assets/img/animation/beleuchtete-buehne.jpg" alt="Eine Theaterbühne, die mit 2 Scheinwerfern beleuchtet wird.">
        <div class="c-animation__content  -rotate  js-content">
            <p class="topText  text-hl">Willkommen</p>
            <p class="c-animation__lineDivider"><span><span>im</span></span></p>
            <p class="bottomText  text-hl">Parkett</p>
        </div>
    </div>
    <div class="c-animation__frame" id="frame-2">
        <img class="c-animation__img  js-img" src="assets/img/animation/gesang.jpg" alt="Eine Gruppe von Schauspielern, die im Chor singen.">
        <div class="c-animation__content  -rotate  js-content">
            <p class="topText  text-hl">Pausenlos Programm</p>
            <p class="c-animation__lineDivider"><span><span>im</span></span></p>
            <p class="bottomText  text-hl">Parkett</p>
        </div>
    </div>
    <div class="c-animation__frame" id="frame-3">
        <img class="c-animation__img  js-img" src="assets/img/animation/junger-zuschauer.jpg" alt="Ein kleines Kind, dass begeisterst in der Zuschauertribüne eines Theaters sitzt.">
        <div class="c-animation__content -rotate  js-content">
            <p class="c-animation__dashDivider  topText  text-hl">Treffpunkt Parkett &ndash; für Groß und Klein</p>
            <p class="bottomText text-hl">Fiebern Sie mit uns!</p>
        </div>
    </div>
    <div class="c-animation__frame" id="frame-4">
        <img class="c-animation__img  js-img" src="assets/img/animation/buehne_roter-vorhang.jpg" alt="Eine spärlich beleuchete Bühne mit einem rotem Vorhand und Theaternebel.">
        <div class="c-animation__content  js-content">
            <p class="text">Wir machen mit beim</p>
            <p class="text-hl title">Festival Theaterfieber</p>
            <p class="text">am Samstag, 13. Oktober 2018<br>von 19 bis 24 Uhr.</p>
            <p class="c-animation__dotDivider">
                <svg width="62px" height="8px" viewBox="0 0 62 8">
                    <circle fill="#D4A169" cx="31" cy="4" r="4" />
                    <circle fill="#D4A169" cx="58" cy="4" r="4" />
                    <circle fill="#D4A169" cx="4" cy="4" r="4" />
                </svg>
            </p>
            <p class="slogan text-hl">Kommen Sie zu uns!</p>
        </div>
    </div>
    <div class="c-animation__border" aria-hidden="true">
        <span class="progress  js-progress"></span>
        <span class="block"></span>
        <span class="block"></span>
        <span class="block"></span>
        <span class="block"></span>
    </div>
</div>