            <div class="c-footer">
                <div class="c-footer__inner">
                    &copy; 2018 &ndash; Theater im Parkett
                </div>
            </div>
        </div>

        <!-- Quelle: https://github.com/kenwheeler/cash -->
        <script src="assets/js/cash.min.js"></script>
        <!-- Quelle: https://greensock.com/tweenlite -->
        <script src="assets/js/TweenLite.min.js"></script>
        <!-- Quelle: https://greensock.com/CSSPlugin -->
        <script src="assets/js/CSSPlugin.min.js"></script>
        <!-- Quelle: https://greensock.com/timelinelite -->
        <script src="assets/js/TimelineLite.min.js"></script>
        <!-- Quelle: https://github.com/feimosi/baguetteBox.js/ -->
        <script src="assets/js/baguetteBox.min.js"></script>

        <script src="assets/js/app.bundle.js"></script>
    </body>
</html>
