        </div>
        {% include "icons.njk" %}

        <!-- Quelle: https://github.com/juliangarnier/anime -->
        <script src="assets/js/anime.min.js"></script>

        <script src="assets/js/app.bundle.js"></script>
    </body>
</html>
