{% set navigation = [{
    "label": "Start",
    "url": "index.html"
}, {
    "label": "Festival",
    "url": "festival.html"
}, {
    "label": "Spielplan"
}, {
    "label": "Tickets"
}, {
    "label": "Über das Theater"
}, {
    "label": "Anfahrt"
}] %}

{% macro header(title, url, animation = false) %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i|Playfair+Display:900i" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        {% if animation == true %}
        {% include "animation.njk" %}
        {% endif %}
        <div class="c-wrap">
            <!-- Header Begin -->
            <header class="c-header">
                <div class="c-header__content">
                    <!-- Logo -->
                    <a class="c-header__siteLink" href="index.html">
                        <img src="assets/img/logo_theater-im-parkett.png" alt="Das Logo vom Theater im Parkett">
                    </a>
                    <!-- Navigation -->
                    <nav class="c-navigation">
                        <ul class="c-navigation__list">
                            {% for item in navigation %}
                                <li class="c-navigation__item{% if item.url == url %} -active{% endif %}">
                                    {% if item.url %}
                                    <a class="c-navigation__link" href="{{ item.url }}">{{ item.label }}</a>
                                    {% else %}
                                    <span class="c-navigation__link">{{ item.label }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <!-- Navigation schließen Button -->
                        <button class="c-navigation__close  js-navClose">
                            <svg width="20" height="20" viewBox="0 0 20 20">
                                <path fill="currentColor" d="M10 8.586l-7.071-7.071-1.414 1.414 7.071 7.071-7.071 7.071 1.414 1.414 7.071-7.071 7.071 7.071 1.414-1.414-7.071-7.071 7.071-7.071-1.414-1.414-7.071 7.071z"></path>
                            </svg>
                        </button>
                    </nav>
                    <!-- Burger Button -->
                    <button class="c-header__menu  js-navToggle">
                        <svg width="20" height="20" viewBox="0 0 20 20">
                            <path fill="currentColor" d="M0 3h20v2h-20v-2zM0 9h20v2h-20v-2zM0 15h20v2h-20v-2z"></path>
                        </svg>
                    </button>
                </div>
            </header>
            <!-- Header Ende -->
{% endmacro %}