.c-header {
    &.-abs {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    max-width: 1288px;
    margin: 0 auto;
    padding: 0 1em;

    &__inner {
        border-bottom: 2px solid color('white');
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: contents;
    }

    &__logoImg {
        padding: 1em 0;
    }

    &__menu {
        padding: 1em;

        &:hover, &:focus {
            outline: none;
            color: color('primary');
        }

        @include breakpoint('large'){
            display: none;
        }
    }
}