.c-footer {
    border-top: 1px solid color('white');

    &__inner {
        max-width: 1288px;
        margin: 0 auto;
        padding: 1em;

        & > * + * {
            margin-top: 1em;
        }

        @include breakpoint('small'){
            display: flex;
            justify-content: space-between;

            & > * {
                margin: 0;
            }
        }
    }
}