.c-navigation {
    @include z-index('navigation');
    @include breakpoint('large', 'max'){
        position: fixed;
        top: 0;
        right: -18em;
        bottom: 0;
        width: 18em;
        background-color: color('grey', 'xdark');

        transition-property: right, box-shadow;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;

        body.-navOpen & {
            right: 0;
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
            transition-timing-function: ease-out;
        }
    }

    &__list {
        @include breakpoint('large', 'max'){
            padding-top: 4em;
        }
    }

    &__item {
        position: relative;

        @include breakpoint('large', 'max'){
            border-top: 1px solid color('grey', 'dark');
            &:last-child {
                border-bottom: 1px solid color('grey', 'dark');
            }
        }

        @include breakpoint('large'){
            display: inline-block;
            & + * {
                margin-left: 3em;
            }
        }

        &.-active {
            @include breakpoint('large'){
                &:after {
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background: color('primary');
                }
            }
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        padding: 1em;
        @include breakpoint('large'){
            display: inline-block;
            padding: 3em 0;
        }

        .-active & {
            color: color('primary');
        }

        &:hover, &:focus {
            text-decoration: underline;
        }
    }


    &__close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
        &:hover, &:focus {
            outline: none;
            color: color('primary');
        }

        @include breakpoint('large'){
            display: none;
        }
    }
}