html {

}

body {
    font-size: ms(0);
    font-family: $font-paragraph;
    font-weight: 300;
    line-height: #{(24px / 16px)};
    background-color: color('grey', 'xdark');
    color: color('white');

    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

em, i {
    font-style: italic;
}

img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
	cursor: pointer;
}

blockquote {
    position: relative;
    padding-left: 3.5em;
    font-style: italic;

    &:before {
        content: "";
        position: absolute;
        top: 0.2em;
        left: 0;
        display: block;
        width: 2.5em;
        height: 2.5em;
        background: url('../img/quote-icon.svg');
        background-size: 100%;
    }
}