@import url("https://fonts.googleapis.com/css?family=Montserrat:600,600i|Roboto:400,400i,700,700i");

*, *:before, *:after {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: inherit;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    background: transparent;
}

ul, ol {
    list-style: none;
}

body {
    font-size: 1em;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    background-color: #111619;
    color: #FFFFFF;
}

em, i {
    font-style: italic;
}

img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

*+h1, *+h2, *+h3, *+h4, *+h5, *+h6 {
    margin-top: 0.8em;
}

*+p, *+blockquote {
    margin-top: 1em;
}

blockquote {
    padding-left: 3.5em;
    position: relative;
    font-style: italic;
}

blockquote:before {
    content: "";
    display: block;
    width: 2.5em;
    height: 2.5em;
    background: url("../img/quote-icon.svg");
    background-size: 100%;
    position: absolute;
    top: 0.2em;
    left: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: italic;
    color: #D4A169;
}

h1 {
    font-size: 2.31306em;
    line-height: 1;
}

h2 {
    font-size: 2.01136em;
    line-height: 1.125;
}

h3 {
    font-size: 1.74901em;
    line-height: 1.25;
}

h4 {
    font-size: 1.52087em;
    line-height: 1.375;
}

h5 {
    font-size: 1.3225em;
}

h6 {
    font-size: 1.15em;
}

/*!
 * baguetteBox.js
 * @author  feimosi
 * @version 1.10.0
 * @url https://github.com/feimosi/baguetteBox.js
 */

#baguetteBox-overlay {
    display: none;
    opacity: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background-color: #222222;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
}

#baguetteBox-overlay.visible {
    opacity: 1;
}

#baguetteBox-overlay .full-image {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

#baguetteBox-overlay .full-image figure {
    display: inline;
    margin: 0;
    height: 100%;
}

#baguetteBox-overlay .full-image img {
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
       -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

#baguetteBox-overlay .full-image figcaption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 1.8;
    white-space: normal;
    color: #CCCCCC;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: sans-serif;
}

#baguetteBox-overlay .full-image:before {
    content: "";
    display: inline-block;
    height: 50%;
    width: 1px;
    margin-right: -1px;
}

#baguetteBox-slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    -webkit-transition: left 0.4s ease, -webkit-transform 0.4s ease;
            transition: left 0.4s ease, -webkit-transform 0.4s ease;
            transition: left 0.4s ease, transform 0.4s ease;
            transition: left 0.4s ease,
                transform 0.4s ease,
                -webkit-transform 0.4s ease,
                -moz-transform 0.4s ease;
}

#baguetteBox-slider.bounce-from-right {
    -webkit-animation: bounceFromRight 0.4s ease-out;
            animation: bounceFromRight 0.4s ease-out;
}

#baguetteBox-slider.bounce-from-left {
    -webkit-animation: bounceFromLeft 0.4s ease-out;
            animation: bounceFromLeft 0.4s ease-out;
}

@-webkit-keyframes bounceFromRight {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: -30px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes bounceFromRight {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: -30px;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes bounceFromLeft {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: 30px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes bounceFromLeft {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: 30px;
    }

    100% {
        margin-left: 0;
    }
}

.baguetteBox-button#next-button, .baguetteBox-button#previous-button {
    top: 50%;
    top: calc(50% - 30px);
    width: 44px;
    height: 60px;
}

.baguetteBox-button {
    position: absolute;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
    -moz-border-radius: 15%;
         border-radius: 15%;
    background-color: #323232;
    background-color: rgba(50, 50, 50, 0.5);
    color: #DDDDDD;
    font: 1.6em sans-serif;
    -webkit-transition: background-color 0.4s ease;
            transition: background-color 0.4s ease;
}

.baguetteBox-button:focus, .baguetteBox-button:hover {
    background-color: rgba(50, 50, 50, 0.9);
}

.baguetteBox-button#next-button {
    right: 2%;
}

.baguetteBox-button#previous-button {
    left: 2%;
}

.baguetteBox-button#close-button {
    top: 20px;
    right: 2%;
    right: calc(2% + 6px);
    width: 30px;
    height: 30px;
}

.baguetteBox-button svg {
    position: absolute;
    left: 0;
    top: 0;
}

.baguetteBox-spinner {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.baguetteBox-double-bounce1, .baguetteBox-double-bounce2 {
    width: 100%;
    height: 100%;
    -moz-border-radius: 50%;
         border-radius: 50%;
    background-color: #FFFFFF;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2s infinite ease-in-out;
            animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0);
           -moz-transform: scale(0);
                transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
                transform: scale(1);
    }
}

.icon {
    display: block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.o-btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.2em 1em;
    border: 2px solid #D4A169;
}

.o-btn:hover {
    background: #D4A169;
    color: #FFFFFF;
}

.o-subhead {
    font-style: italic;
}

.o-subhead+h1, .o-subhead+h2, .o-subhead+h3 {
    margin-top: 0;
}

h1+.o-subhead, h2+.o-subhead, h3+.o-subhead {
    margin-top: 0.2em;
}

.c-animation {
    position: relative;
    height: 100vh;
    width: 100%;
}

.c-animation__frame {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.c-animation__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-animation__content {
    position: relative;
}

.c-animation__border {
    position: absolute;
    top: 50px;
    right: 15px;
    bottom: 50px;
    left: 15px;
    border: 2px solid #FFFFFF;
}

.c-animation__border .progress {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #D4A169;
}

.c-animation__border span {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #FFFFFF;
}

.c-animation__border .top-left {
    top: -10px;
    left: -10px;
}

.c-animation__border .top-right {
    top: -10px;
    right: -10px;
}

.c-animation__border .bottom-left {
    bottom: -10px;
    left: -10px;
}

.c-animation__border .bottom-right {
    bottom: -10px;
    right: -10px;
}

#frame-2 .c-animation__content .top-text {
    font-size: 2.31306em;
}

#frame-3 .c-animation__content {
    font-size: 2.31306em;
    text-align: center;
    transform: rotate(-10deg);
    margin-top: 30vh;
}

#frame-3 .c-animation__content p {
    margin: 0;
}

#frame-3 .c-animation__content .top-text:after {
    content: "";
    display: block;
    margin: 0.2em auto 0;
    width: 5em;
    height: 2px;
    background: #FFFFFF;
}

#frame-4 .text {
    font-size: 1.3225em;
}

#frame-4 .title {
    color: #D4A169;
    font-size: 2.31306em;
    margin: 0;
    line-height: 1;
}

#frame-4 .slogan {
    font-size: 1.74901em;
    margin: 0;
}

#frame-4 .divider {
    margin: 1em 0 0.5em;
}

#frame-4 .divider svg {
    margin: 0 auto;
}

.c-festivalText {
    background-image: url("../img/zuschauer.jpg");
    background-size: cover;
}

.c-festivalText__content {
    padding: 4em 1em 0;
    margin: 0 auto;
    max-width: 32em;
}

.c-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1em;
    max-width: 1300px;
    margin: 0 auto;
}

.c-header__content {
    border-bottom: 2px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-header__siteLink {
    display: contents;
}

.c-header__menu {
    display: inline-block;
    padding: 2.5em 1em;
}

.c-header__menu:hover, .c-header__menu:focus {
    outline: 0;
    color: #D4A169;
}

.c-highlight {
    position: relative;
    text-align: center;
}

.c-highlight__title {
    color: #FFFFFF;
    padding: 4rem 0;
}

.c-highlight__date {
    width: 10em;
    margin: 0 auto;
    position: relative;
    top: 1em;
}

.c-highlight__date svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.c-highlight__day {
    position: relative;
    font-size: 4em;
    line-height: 1;
    padding-bottom: 0.1em;
}

.c-highlight__month {
    position: relative;
    font-size: 1.3em;
    padding-bottom: 0.7em;
}

.c-highlight__text {
    max-width: 40em;
    margin: 0 auto;
    padding: 2em;
    background: #111619;
}

.c-highlight:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("../img/zuschauer.jpg");
    background-size: cover;
    bottom: 8em;
}

.c-intro {
    position: relative;
    margin: 6em auto 0;
    padding: 0 1em;
    max-width: 1000px;
}

.c-intro__text {
    padding: 2em 1em;
    align-self: end;
    background: #1E272B;
}

.c-intro__title {
    margin-bottom: 0.8em;
}

.c-navigation {
    z-index: 2;
}

.c-navigation__list {
    padding-top: 4em;
}

.c-navigation__item {
    position: relative;
}

.c-navigation__item.-active {
    color: #D4A169;
}

.c-navigation__link {
    display: block;
    text-decoration: none;
    padding: 1em;
}

.c-navigation__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}

.c-navigation__close:hover, .c-navigation__close:focus {
    outline: 0;
    color: #D4A169;
}

.c-timetable {
    max-width: 1300px;
    padding: 0 1em;
    margin: 0 auto;
}

.c-timetable__list {
    margin-top: 3em;
}

.c-timetable__item {
    padding: 1.5em 0;
    border-bottom: 1px solid #FFFFFF;
}

.c-timetable__item:first-child {
    border-top: 1px solid #FFFFFF;
}

.c-timetable__time {
    line-height: 1.2;
    position: relative;
    white-space: nowrap;
    padding-bottom: 1em;
    border-bottom: 1px solid #1E272B;
    margin-bottom: 1em;
}

.c-timetable__date {
    font-size: 1.3225em;
    color: #D4A169;
}

.c-timetable__text {
    padding-top: 1em;
    border-top: 1px solid #1E272B;
    margin-top: 1em;
}

.c-wrap {
    position: relative;
}

.text-center {
    text-align: center;
}

.text-hl {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: italic;
}

.text-primary {
    fill: #D4A169;
}

.u-gapLarge, .u-gapLargeTop {
    padding-top: 8em;
}

.u-gapLarge, .u-gapLargeBottom {
    padding-bottom: 8em;
}

.u-visuallyhidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

@media (min-width: 751px) {
    .c-animation__frame {
        padding: 80px;
    }

    .c-animation__border {
        right: 50px;
        left: 50px;
    }

    .c-intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .c-intro__img {
        padding-bottom: 2em;
    }

    .c-intro__text {
        padding: 4em 2em 2em;
        background: none;
    }

    .c-intro:after {
        content: "";
        z-index: -1;
        position: absolute;
        top: 2em;
        left: 1em;
        bottom: 0;
        right: 1em;
        background: #1E272B;
    }

    .c-timetable__item {
        display: grid;
        grid-template-columns: 13em 1fr;
    }

    .c-timetable__time {
        grid-row: 1 / 3;
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
        border-right: 1px solid #1E272B;
        padding-right: 2em;
        margin-right: 2em;
        padding-top: 0.3em;
    }
}

@media (min-width: 751px) and (min-width: 751px) {
    .c-intro:after {
        left: 2em;
    }
}

@media (min-width: 46.938em) and (max-width: 75em) {
    h1 {
        font-size: calc(2.31306em + 1.50164 * ((100vw - 46.938em) / 28.062));
    }

    h2 {
        font-size: calc(2.01136em + 1.0404 * ((100vw - 46.938em) / 28.062));
    }

    h3 {
        font-size: calc(1.74901em + 0.6924 * ((100vw - 46.938em) / 28.062));
    }

    h4 {
        font-size: calc(1.52087em + 0.43225 * ((100vw - 46.938em) / 28.062));
    }

    h5 {
        font-size: calc(1.3225em + 0.24 * ((100vw - 46.938em) / 28.062));
    }

    h6 {
        font-size: calc(1.15em + 0.1 * ((100vw - 46.938em) / 28.062));
    }

    #frame-2 .c-animation__content .top-text {
        font-size: calc(2.31306em + 1.50164 * ((100vw - 46.938em) / 28.062));
    }

    #frame-3 .c-animation__content {
        font-size: calc(2.31306em + 1.50164 * ((100vw - 46.938em) / 28.062));
    }

    #frame-4 .text {
        font-size: calc(1.3225em + 0.24 * ((100vw - 46.938em) / 28.062));
    }

    #frame-4 .title {
        font-size: calc(2.31306em + 1.50164 * ((100vw - 46.938em) / 28.062));
    }

    #frame-4 .slogan {
        font-size: calc(1.74901em + 0.6924 * ((100vw - 46.938em) / 28.062));
    }

    .c-timetable__date {
        font-size: calc(1.3225em + 0.24 * ((100vw - 46.938em) / 28.062));
    }
}

@media (min-width: 75em) {
    h1 {
        font-size: 3.8147em;
    }

    h2 {
        font-size: 3.05176em;
    }

    h3 {
        font-size: 2.44141em;
    }

    h4 {
        font-size: 1.95313em;
    }

    h5 {
        font-size: 1.5625em;
    }

    h6 {
        font-size: 1.25em;
    }

    #frame-2 .c-animation__content .top-text {
        font-size: 3.8147em;
    }

    #frame-3 .c-animation__content {
        font-size: 3.8147em;
    }

    #frame-4 .text {
        font-size: 1.5625em;
    }

    #frame-4 .title {
        font-size: 3.8147em;
    }

    #frame-4 .slogan {
        font-size: 2.44141em;
    }

    .c-timetable__date {
        font-size: 1.5625em;
    }
}

@media (min-width: 1200px) {
    .c-header__menu {
        display: none;
    }

    .c-navigation__list {
        padding-top: 0;
        display: flex;
    }

    *+.c-navigation__item {
        margin-left: 3em;
    }

    .c-navigation__item.-active:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: -0.5em;
        right: -0.5em;
        height: 2px;
        background: #D4A169;
    }

    .c-navigation__link {
        display: inline-block;
        padding: 1em 0;
        line-height: 4em;
    }

    .c-navigation__close {
        display: none;
    }

    .c-timetable__item {
        grid-template-columns: 13em 1fr 1fr;
    }

    .c-timetable__head {
        padding-right: 2em;
    }

    .c-timetable__text {
        padding-top: 0;
        border-top: 0;
        margin-top: 0;
        border-left: 1px solid #1E272B;
        padding-left: 2em;
        padding-top: 0.3em;
    }
}

@media (max-width: 1199px) {
    .c-navigation {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        background: #1E272B;
        transform: translateX(300px);
        visibility: hidden;
        transition-property: transform, visibility;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
    }

    body.-navOpen .c-navigation {
        transform: translateX(0);
        visibility: visible;
        transition-timing-function: ease-out;
    }

    .c-navigation__item {
        border-top: 1px solid #111619;
    }

    .c-navigation__item:last-child {
        border-bottom: 1px solid #111619;
    }
}
