*, *:before, *:after {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: inherit;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    background: transparent;
}

ul, ol {
    list-style: none;
}

body {
    font-size: 1em;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    background-color: #111619;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

em, i {
    font-style: italic;
}

img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

blockquote {
    position: relative;
    padding-left: 3.5em;
    font-style: italic;
}

blockquote:before {
    content: "";
    position: absolute;
    top: 0.2em;
    left: 0;
    display: block;
    width: 2.5em;
    height: 2.5em;
    background: url("../img/quote-icon.svg");
    background-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: italic;
    color: #D4A169;
}

h1 {
    font-size: 2.31306em;
    line-height: 1;
}

h2 {
    font-size: 2.01136em;
    line-height: 1.0625;
}

h3 {
    font-size: 1.74901em;
    line-height: 1.125;
}

h4 {
    font-size: 1.52087em;
    line-height: 1.25;
}

h5 {
    font-size: 1.3225em;
    line-height: 1.375;
}

h6 {
    font-size: 1.15em;
}

/*!
 * baguetteBox.js
 * @author  feimosi
 * @version 1.10.0
 * @url https://github.com/feimosi/baguetteBox.js
 */

#baguetteBox-overlay {
    display: none;
    opacity: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background-color: #222222;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
}

#baguetteBox-overlay.visible {
    opacity: 1;
}

#baguetteBox-overlay .full-image {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

#baguetteBox-overlay .full-image figure {
    display: inline;
    margin: 0;
    height: 100%;
}

#baguetteBox-overlay .full-image img {
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
       -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

#baguetteBox-overlay .full-image figcaption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 1.8;
    white-space: normal;
    color: #CCCCCC;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: sans-serif;
}

#baguetteBox-overlay .full-image:before {
    content: "";
    display: inline-block;
    height: 50%;
    width: 1px;
    margin-right: -1px;
}

#baguetteBox-slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    -webkit-transition: left 0.4s ease, -webkit-transform 0.4s ease;
            transition: left 0.4s ease, -webkit-transform 0.4s ease;
            transition: left 0.4s ease, transform 0.4s ease;
            transition: left 0.4s ease,
                transform 0.4s ease,
                -webkit-transform 0.4s ease,
                -moz-transform 0.4s ease;
}

#baguetteBox-slider.bounce-from-right {
    -webkit-animation: bounceFromRight 0.4s ease-out;
            animation: bounceFromRight 0.4s ease-out;
}

#baguetteBox-slider.bounce-from-left {
    -webkit-animation: bounceFromLeft 0.4s ease-out;
            animation: bounceFromLeft 0.4s ease-out;
}

@-webkit-keyframes bounceFromRight {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: -30px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes bounceFromRight {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: -30px;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes bounceFromLeft {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: 30px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes bounceFromLeft {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: 30px;
    }

    100% {
        margin-left: 0;
    }
}

.baguetteBox-button#next-button, .baguetteBox-button#previous-button {
    top: 50%;
    top: calc(50% - 30px);
    width: 44px;
    height: 60px;
}

.baguetteBox-button {
    position: absolute;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
    -moz-border-radius: 15%;
         border-radius: 15%;
    background-color: #323232;
    background-color: rgba(50, 50, 50, 0.5);
    color: #DDDDDD;
    font: 1.6em sans-serif;
    -webkit-transition: background-color 0.4s ease;
            transition: background-color 0.4s ease;
}

.baguetteBox-button:focus, .baguetteBox-button:hover {
    background-color: rgba(50, 50, 50, 0.9);
}

.baguetteBox-button#next-button {
    right: 2%;
}

.baguetteBox-button#previous-button {
    left: 2%;
}

.baguetteBox-button#close-button {
    top: 20px;
    right: 2%;
    right: calc(2% + 6px);
    width: 30px;
    height: 30px;
}

.baguetteBox-button svg {
    position: absolute;
    left: 0;
    top: 0;
}

.baguetteBox-spinner {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.baguetteBox-double-bounce1, .baguetteBox-double-bounce2 {
    width: 100%;
    height: 100%;
    -moz-border-radius: 50%;
         border-radius: 50%;
    background-color: #FFFFFF;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2s infinite ease-in-out;
            animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0);
           -moz-transform: scale(0);
                transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
                transform: scale(1);
    }
}

.icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.o-article *+p, .o-article *+blockquote {
    margin-top: 0.8em;
}

.o-article h1, .o-article h2, .o-article h3, .o-article h4, .o-article h5,
.o-article h6 {
    margin-bottom: 0.6em;
}

.o-btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.2em 1em;
    border: 2px solid #D4A169;
}

.o-btn:hover {
    background: #D4A169;
    color: #FFFFFF;
}

.o-subhead {
    font-style: italic;
}

.c-animation {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
}

.c-animation__frame {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-animation__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.c-animation__content {
    padding: 30px;
    position: relative;
    text-align: center;
}

.c-animation__content.-rotate p {
    transform: rotate(-10deg);
}

#frame-1 .c-animation__content {
    color: #D4A169;
}

#frame-1 .c-animation__content .topText {
    font-size: 3.05902em;
    line-height: 0.9;
    margin-bottom: 0.1em;
}

#frame-1 .c-animation__content .bottomText {
    font-size: 4.04556em;
    line-height: 0.9;
}

#frame-2 .c-animation__content .topText {
    font-size: 3.05902em;
    line-height: 0.9;
    margin-bottom: 0.1em;
}

#frame-2 .c-animation__content .bottomText {
    font-size: 4.04556em;
    line-height: 0.9;
}

#frame-3 .c-animation__content {
    margin-top: 35vh;
}

#frame-3 .c-animation__content .topText {
    font-size: 2.01136em;
    line-height: 1.05;
    margin-bottom: 0.1em;
}

#frame-3 .c-animation__content .bottomText {
    font-size: 2.66002em;
    line-height: 0.9;
}

#frame-4 .c-animation__content .text {
    font-size: 1.52087em;
}

#frame-4 .c-animation__content .title {
    font-size: 2.66002em;
    line-height: 1.1;
    color: #D4A169;
    margin-bottom: 0.15em;
}

#frame-4 .c-animation__content .slogan {
    font-size: 2.01136em;
}

.c-animation__lineDivider {
    text-align: center;
    overflow: hidden;
    font-size: 1.74901em;
    margin: 0 1em;
}

.c-animation__lineDivider>span {
    display: inline-block;
    position: relative;
    padding: 0 1.5rem;
}

.c-animation__lineDivider>span:before, .c-animation__lineDivider>span:after {
    content: "";
    position: absolute;
    width: 999em;
    top: 0.8em;
    height: 2px;
    background: currentColor;
}

.c-animation__lineDivider>span:before {
    left: -999em;
}

.c-animation__lineDivider>span:after {
    right: -999em;
}

.c-animation__content.-rotate .c-animation__lineDivider>span>span {
    display: inline-block;
    transform: rotate(10deg);
}

.c-animation__dashDivider:after {
    content: "";
    display: block;
    width: 4em;
    margin: 0 auto;
    height: 2px;
    background: currentColor;
    margin-top: 0.3em;
}

.c-animation__dotDivider {
    margin-top: 0.8em;
}

.c-animation__dotDivider svg {
    margin: 0 auto;
}

.c-animation__border {
    position: absolute;
    top: 50px;
    left: 15px;
    right: 15px;
    bottom: 50px;
    border: 2px solid #FFFFFF;
}

.c-animation__border .block {
    position: absolute;
    top: -10px;
    left: -10px;
    display: block;
    height: 10px;
    width: 10px;
    border: 2px solid #FFFFFF;
}

.c-animation__border .block:nth-child(2) {
    left: auto;
    right: -10px;
}

.c-animation__border .block:nth-child(3) {
    top: auto;
    bottom: -10px;
}

.c-animation__border .block:nth-child(4) {
    top: auto;
    bottom: -10px;
    left: auto;
    right: -10px;
}

.c-animation__border .progress {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #D4A169;
}

.c-festival {
    background: url("../img/theaterpublikum.jpg");
    background-position: center;
    background-size: cover;
}

.c-festival__content {
    max-width: 652px;
    margin: 0 auto;
    padding: 0 1em;
    padding-top: 5em;
}

.c-footer {
    border-top: 1px solid #FFFFFF;
}

.c-footer__inner {
    max-width: 1288px;
    margin: 0 auto;
    padding: 1em;
}

.c-footer__inner>*+* {
    margin-top: 1em;
}

.c-header {
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 1em;
}

.c-header.-abs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.c-header__inner {
    border-bottom: 2px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-header__logo {
    display: contents;
}

.c-header__logoImg {
    padding: 1em 0;
}

.c-header__menu {
    padding: 1em;
}

.c-header__menu:hover, .c-header__menu:focus {
    outline: none;
    color: #D4A169;
}

.c-highlight {
    position: relative;
    text-align: center;
}

.c-highlight__title {
    color: #FFFFFF;
}

.c-highlight__date {
    width: 10em;
    margin: 0 auto;
    position: relative;
    top: 1em;
}

.c-highlight__date svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.c-highlight__day {
    position: relative;
    font-size: 4em;
    line-height: 1;
    padding-bottom: 0.1em;
}

.c-highlight__month {
    position: relative;
    font-size: 1.3em;
    padding-bottom: 0.7em;
}

.c-highlight__text {
    max-width: 684px;
    margin: 0 auto;
    padding: 2em 2em 0;
    background: #111619;
}

.c-highlight:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    max-height: 100%;
    background: url("../img/theaterpublikum-breit.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.c-navigation {
    z-index: 1;
}

.c-navigation__item {
    position: relative;
}

.c-navigation__link {
    display: block;
    text-decoration: none;
    padding: 1em;
}

.-active .c-navigation__link {
    color: #D4A169;
}

.c-navigation__link:hover, .c-navigation__link:focus {
    text-decoration: underline;
}

.c-navigation__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}

.c-navigation__close:hover, .c-navigation__close:focus {
    outline: none;
    color: #D4A169;
}

.c-showcase {
    position: relative;
    max-width: 970px;
    margin: 0 auto;
    padding: 0 1em;
}

.c-showcase__text {
    padding: 2em;
    background: #1E272B;
}

.c-timetable {
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 1em;
}

.c-timetable__item {
    padding: 1.5em 0;
    border-top: 1px solid #FFFFFF;
}

.c-timetable__item:last-child {
    border-bottom: 1px solid #FFFFFF;
}

.c-timetable__time {
    line-height: 1.1;
    padding-bottom: 1em;
    border-bottom: 1px solid #1E272B;
}

.c-timetable__hour {
    font-size: 1.3225em;
    color: #D4A169;
}

.c-timetable__head {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #1E272B;
}

.c-timetable__title {
    margin-bottom: 0.2em;
}

.c-timetable__desc {
    padding-top: 1em;
}

.c-timetable__gallery {
    margin-top: 0.8em;
}

.c-timetable__galleryButton {
    position: relative;
    padding: 0.1em 0 0.1em 2em;
}

.c-timetable__galleryButton .icon {
    position: absolute;
    left: 0;
    top: 0;
}

.c-timetable__galleryButton:hover, .c-timetable__galleryButton:focus {
    outline: 0;
    color: #D4A169;
}

.c-wrap {
    position: relative;
}

.u-gapLarge, .u-gapLargeTop {
    padding-top: 4.04556em;
}

.u-gapLarge, .u-gapLargeBottom {
    padding-bottom: 4.04556em;
}

.u-gapSmall, .u-gapSmallTop {
    padding-top: 2.66002em;
}

.u-gapSmall, .u-gapSmallBottom {
    padding-bottom: 2.66002em;
}

.text-hl {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: italic;
}

.text-primary {
    color: #D4A169;
}

.text-center {
    text-align: center;
}

.u-visuallyhidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

@media (min-width: 30em) and (max-width: 75em) {
    h1 {
        font-size: calc(2.31306em + 1.50164 * ((100vw - 30em) / 45));
    }

    h2 {
        font-size: calc(2.01136em + 1.0404 * ((100vw - 30em) / 45));
    }

    h3 {
        font-size: calc(1.74901em + 0.6924 * ((100vw - 30em) / 45));
    }

    h4 {
        font-size: calc(1.52087em + 0.43225 * ((100vw - 30em) / 45));
    }

    h5 {
        font-size: calc(1.3225em + 0.24 * ((100vw - 30em) / 45));
    }

    h6 {
        font-size: calc(1.15em + 0.1 * ((100vw - 30em) / 45));
    }

    #frame-1 .c-animation__content .topText {
        font-size: calc(3.05902em + 2.90144 * ((100vw - 30em) / 45));
    }

    #frame-1 .c-animation__content .bottomText {
        font-size: calc(4.04556em + 5.26767 * ((100vw - 30em) / 45));
    }

    #frame-2 .c-animation__content .topText {
        font-size: calc(3.05902em + 2.90144 * ((100vw - 30em) / 45));
    }

    #frame-2 .c-animation__content .bottomText {
        font-size: calc(4.04556em + 5.26767 * ((100vw - 30em) / 45));
    }

    #frame-3 .c-animation__content .topText {
        font-size: calc(2.01136em + 1.0404 * ((100vw - 30em) / 45));
    }

    #frame-3 .c-animation__content .bottomText {
        font-size: calc(2.66002em + 2.10835 * ((100vw - 30em) / 45));
    }

    #frame-4 .c-animation__content .text {
        font-size: calc(1.52087em + 0.43225 * ((100vw - 30em) / 45));
    }

    #frame-4 .c-animation__content .title {
        font-size: calc(2.66002em + 2.10835 * ((100vw - 30em) / 45));
    }

    #frame-4 .c-animation__content .slogan {
        font-size: calc(2.01136em + 1.0404 * ((100vw - 30em) / 45));
    }

    .c-animation__lineDivider {
        font-size: calc(1.74901em + 0.6924 * ((100vw - 30em) / 45));
    }

    .c-timetable__hour {
        font-size: calc(1.3225em + 0.24 * ((100vw - 30em) / 45));
    }

    .u-gapLarge, .u-gapLargeTop {
        padding-top: calc(4.04556em + 5.26767 * ((100vw - 30em) / 45));
    }

    .u-gapLarge, .u-gapLargeBottom {
        padding-bottom: calc(4.04556em + 5.26767 * ((100vw - 30em) / 45));
    }

    .u-gapSmall, .u-gapSmallTop {
        padding-top: calc(2.66002em + 2.10835 * ((100vw - 30em) / 45));
    }

    .u-gapSmall, .u-gapSmallBottom {
        padding-bottom: calc(2.66002em + 2.10835 * ((100vw - 30em) / 45));
    }
}

@media (min-width: 751px) {
    .c-animation__content {
        padding: 80px;
    }

    .c-animation__border {
        left: 50px;
        right: 50px;
    }

    .c-footer__inner {
        display: flex;
        justify-content: space-between;
    }

    .c-footer__inner>* {
        margin: 0;
    }

    .c-highlight:after {
        height: 400px;
    }

    .c-showcase {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }

    .c-showcase__img {
        padding-bottom: 2em;
    }

    .c-showcase.-topAlign .c-showcase__img {
        padding-bottom: 0;
        padding-top: 2em;
    }

    .c-showcase__text {
        padding: 0;
        background: none;
        align-self: end;
        padding-top: 4em;
        padding-bottom: 2em;
        padding-right: 2em;
    }

    .c-showcase.-topAlign .c-showcase__text {
        align-self: start;
        padding-top: 2em;
        padding-bottom: 4em;
    }

    .c-showcase:after {
        content: "";
        z-index: -1;
        position: absolute;
        top: 2em;
        left: 3em;
        right: 1em;
        bottom: 0;
        background: #1E272B;
    }

    .c-showcase.-topAlign:after {
        top: 0;
        bottom: 2em;
    }

    .c-timetable__item {
        display: grid;
        grid-template-columns: 12em 1fr;
        grid-gap: 0 2em;
    }

    .c-timetable__time {
        grid-row: 1 / 3;
        padding-top: 0.2em;
        padding-bottom: 0;
        border-bottom: 0;
        padding-right: 2em;
        border-right: 1px solid #1E272B;
    }

    .c-timetable__head {
        padding-top: 0;
    }
}

@media (min-width: 75em) {
    h1 {
        font-size: 3.8147em;
    }

    h2 {
        font-size: 3.05176em;
    }

    h3 {
        font-size: 2.44141em;
    }

    h4 {
        font-size: 1.95312em;
    }

    h5 {
        font-size: 1.5625em;
    }

    h6 {
        font-size: 1.25em;
    }

    #frame-1 .c-animation__content .topText {
        font-size: 5.96046em;
    }

    #frame-1 .c-animation__content .bottomText {
        font-size: 9.31323em;
    }

    #frame-2 .c-animation__content .topText {
        font-size: 5.96046em;
    }

    #frame-2 .c-animation__content .bottomText {
        font-size: 9.31323em;
    }

    #frame-3 .c-animation__content .topText {
        font-size: 3.05176em;
    }

    #frame-3 .c-animation__content .bottomText {
        font-size: 4.76837em;
    }

    #frame-4 .c-animation__content .text {
        font-size: 1.95312em;
    }

    #frame-4 .c-animation__content .title {
        font-size: 4.76837em;
    }

    #frame-4 .c-animation__content .slogan {
        font-size: 3.05176em;
    }

    .c-animation__lineDivider {
        font-size: 2.44141em;
    }

    .c-timetable__hour {
        font-size: 1.5625em;
    }

    .u-gapLarge, .u-gapLargeTop {
        padding-top: 9.31323em;
    }

    .u-gapLarge, .u-gapLargeBottom {
        padding-bottom: 9.31323em;
    }

    .u-gapSmall, .u-gapSmallTop {
        padding-top: 4.76837em;
    }

    .u-gapSmall, .u-gapSmallBottom {
        padding-bottom: 4.76837em;
    }
}

@media (min-width: 1200px) {
    .c-header__menu {
        display: none;
    }

    .c-navigation__item {
        display: inline-block;
    }

    .c-navigation__item+* {
        margin-left: 3em;
    }

    .c-navigation__item.-active:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        height: 2px;
        background: #D4A169;
    }

    .c-navigation__link {
        display: inline-block;
        padding: 3em 0;
    }

    .c-navigation__close {
        display: none;
    }

    .c-timetable__item {
        grid-template-columns: 12em 1fr 1fr;
    }

    .c-timetable__time {
        grid-row: auto;
    }

    .c-timetable__head {
        padding-bottom: 0;
        border-bottom: 0;
        padding-right: 1em;
        border-right: 1px solid #1E272B;
    }

    .c-timetable__desc {
        padding-top: 0;
    }
}

@media (max-width: 1199px) {
    .c-navigation {
        position: fixed;
        top: 0;
        right: -18em;
        bottom: 0;
        width: 18em;
        background-color: #111619;
        transition-property: right, box-shadow;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
    }

    body.-navOpen .c-navigation {
        right: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
        transition-timing-function: ease-out;
    }

    .c-navigation__list {
        padding-top: 4em;
    }

    .c-navigation__item {
        border-top: 1px solid #1E272B;
    }

    .c-navigation__item:last-child {
        border-bottom: 1px solid #1E272B;
    }
}
